header {
  .container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo {
      a {
        img {
          width: 22rem;
          @media only screen and (max-width: 1000px) {
            width: 17rem;
          }
          @media only screen and (max-width: 425px) {
            width: 12rem;
          }
        }
      }
    }

    .menus {
      @media only screen and (max-width: 1000px) {
        display: none;
      }
      .menu-list {
        display: flex;
        gap: 4rem;
        font-size: 1.5rem;
        li {
          a {
            color: #fff;
          }
          &.active {
            .link {
              opacity: 1;
            }
          }
          &:hover {
            .link {
              opacity: 1;
            }
          }
        }
        .services {
          position: relative;
          .service-list {
            display: none;
            position: absolute;
            top: 2rem;
            right: 0;
            padding-top: 2rem;
            transition: all 3s;
            .lists {
              width: 20rem;
              padding: 2rem 4rem 2rem 2rem;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
              text-shadow: none;
              li {
                a {
                  color: rgb(94, 94, 94);
                  &:hover {
                    color: rgb(163, 163, 163);
                  }
                }
              }
            }
          }
          &:hover {
            .service-list {
              display: block;
            }
          }
        }
      }
    }

    .menu-tool {
      display: none;
      width: 0rem;
      background: transparent;
      @media only screen and (max-width: 1000px) {
        display: flex;
      }
      .menu-items {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
      }
      .menu-items.show {
        display: block;
        @media only screen and (max-width: 1000px) {
          transition: transform 0.1s;
        }
        .menu-list {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          font-size: 1.5rem;
          @media only screen and (max-width: 1000px) {
            background-color: #fff;
            padding: 2rem;
            width: 25rem;
            height: 100vh;
          }
          @media only screen and (max-width: 426px) {
            width: 25rem;
            padding: 1.7rem;
          }
          li {
            .close-btn {
              cursor: pointer;
              &:hover{
                transform: rotateZ(90deg);
                transition: 0.3s ease;
              }
            }
            .link {
              color: #000;
              cursor: pointer;
            }
            &.active {
              .link {
                color: #cda274;
              }
            }
            &:hover {
              .link {
                color: #cda274;
              }
            }
          }
          .services{
            .link{
              display: flex;
              align-items: center;
              gap: 1rem;
              .expand{
                font-size:1.5em;
              }
            }
            .service-list{
              display: none;
              padding-right: 3rem;
              .lists{
                background-color: #FFF;
                padding: 1rem 2rem 1rem 1rem;
                li{
                  a{
                    color: rgb(94, 94, 94);
                  }
                }

              }
            }

          }
          .services.view{
            .link{
              color: #cda274;
              .expand{
                transform: rotateZ(90deg);
                transition: 0.3s ease;
              }
            }
            .service-list{
              display: block;
              transition: 1s ease;
            }
          }
        }
      }
    }
  }
}
