<header [ngClass]="{'fixed':isScrolled}">
  <span class="container">
    <span class="logo">
      <a href="">
        <img src="assets/images/logo_full.png" alt="" />
      </a>
    </span>
    <span class="menus">
      <ul class="menu-list">
        <li routerLinkActive="active">
          <a class="link" [routerLink]="['home']" href="javascipt:void(0)"
            >HOME</a
          >
        </li>
        <li routerLinkActive="active" class="services">
          <a class="link" [routerLink]="['services']" href="javascipt:void(0)">
            SERVICES
          </a>
          <span class="service-list">
            <ul class="lists">
              <li class="curtain-sec">
                <span class="material-icons expand">
                  chevron_left
                  </span>
                <a href="services/curtains">Curtains</a>
                
                <span class="container">
                  <span class="curtains">
                    <span class="curtain" (click)="viewIndex(1)">Electric Curtains</span>
                    <span class="curtain" (click)="viewIndex(2)">Wave Drapery</span>
                    <span class="curtain" (click)="viewIndex(3)">Ring Top Curtains</span>
                    <span class="curtain" (click)="viewIndex(4)">Wave Pleat Curtains</span>
                    <span class="curtain" (click)="viewIndex(5)">Abstract Shower Curtains</span>
                   </span>
                </span>
              
              </li>
              <li><a href="services/furnishing">Furnishing</a></li>
              <li><a href="services/outdoor-fabric">Outdoor Fabrics</a></li>
              <li><a href="services/wooden-flooring">Wooden Flooring</a></li>
              <li><a href="services/blinds">Blinds</a></li>
              <li><a href="services/wallpapers">Wallpapers</a></li>
              <li><a href="services/upholstery">Upholstery</a></li>
              <li><a href="services/wallpanelling">Wallpanelling</a></li>
            </ul>
          </span>
        </li>
        <li routerLinkActive="active">
          <a class="link" [routerLink]="['about-us']" href="about-us"
            >ABOUT</a
          >
        </li>
        <li routerLinkActive="active">
          <a class="link" [routerLink]="['contact-us']" href="javascipt:void(0)"
            >CONTACT</a
          >
        </li>
      </ul>
    </span>
    <mat-toolbar t-toolbar class="menu-tool">
      <button mat-icon-button (click)="toggleMenu()" class="toggle-button">
        <span class="material-icons close"> menu </span>
      </button>

      <div class="menu-items" [ngClass]="{ show: showMenu }">
        <ul class="menu-list">
          <li>
            <span
              class="material-icons close-btn"
              mat-stroked-button
              (click)="toggleMenu()"
            >
              close
            </span>
          </li>
          <li routerLinkActive="active">
            <a
              class="link"
              [routerLink]="['home']"
              href="javascipt:void(0)"
              (click)="toggleMenu()"
              >HOME</a
            >
          </li>
          <li class="services" (click)="showList()" [ngClass]="{ view: list }">
            <span class="link"
              >SERVICES
              <span class="material-icons expand"> chevron_right </span></span
            >
            <span class="service-list">
              <ul class="lists">
                <li>
                  <a href="services/curtains" (click)="toggleMenu()"
                    >Curtains</a
                  >
                </li>
                <li>
                  <a href="services/furnishing" (click)="toggleMenu()"
                    >Furnishing</a
                  >
                </li>
                <li>
                  <a href="services/outdoor-fabric" (click)="toggleMenu()"
                    >Outdoor Fabrics</a
                  >
                </li>
                <li>
                  <a href="services/wooden-flooring" (click)="toggleMenu()"
                    >Wooden Flooring</a
                  >
                </li>
                <li>
                  <a href="services/blinds" (click)="toggleMenu()">Blinds</a>
                </li>
                <li>
                  <a href="services/wallpapers" (click)="toggleMenu()"
                    >Wallpapers</a
                  >
                </li>
                <li>
                  <a href="services/upholstery" (click)="toggleMenu()"
                    >Upholstery</a
                  >
                </li>
                <li>
                  <a href="services/wallpanelling" (click)="toggleMenu()"
                    >Wallpanelling</a
                  >
                </li>
              </ul>
            </span>
          </li>
          <li routerLinkActive="active">
            <a
              class="link"
              [routerLink]="['about-us']"
              href="javascipt:void(0)"
              (click)="toggleMenu()"
              >ABOUT</a
            >
          </li>
          <li routerLinkActive="active">
            <a
              class="link"
              [routerLink]="['contact-us']"
              href="javascipt:void(0)"
              (click)="toggleMenu()"
              >CONTACT</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </span>
</header>
