<section>
  <span class="c-title">
    <span class="title"> Contact Us </span>
  </span>
  <aside class="contact">
    <span class="container">
      <span class="details">
        <span class="see-in">
          <span class="title">SEE US IN PERSON</span>
          <span class="contents">
            We would love to hear from you! If you have any questions, feedback,
            or inquiries about our products and services, please feel free to
            reach out to us. Our dedicated team is ready to assist you.
          </span>
        </span>
        <span class="our-loc">
          <span class="contents">
            <span class="material-icons icons">
              location_on
              </span>
              <span class="heading">
                Our Location :
              </span>
            <span class="address">
              <a href="https://goo.gl/maps/Gu1kMQt7nUX5oqUE9">2nd Floor Block F, Al Mirqab Al Jadeed St, Doha, Qatar</a>
              </span
            >
          </span>
          <span class="num">
            <span class="material-icons icons">
              phone_iphone
              </span>
              <span class="heading">
                Phone Number :
              </span>
            <span class="nums">
              <a href="tel:+97450634111">+974 506-341-11</a>
              <a href="tel:+97466688739">+974 666-887-39</a>
            </span>
          </span>
          <span class="email"
            ><span class="material-icons icons"> email </span>
            <span class="heading">Email Address :</span>
            <span class="mail-add">
              <a href="mailto:info@topqqatar.com">info@topqqatar.com</a>
            </span>
          </span>
        </span>
      </span>
    </span>
  </aside>
  <aside class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.916122930795!2d51.50000757526093!3d25.27340687766199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45db5ddc487ded%3A0x7bf19dc8762383a0!2sHUB%20Business%20Center!5e0!3m2!1sen!2sin!4v1690009564511!5m2!1sen!2sin"
      width="90%"
      height="400px"
      style="border: 0"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </aside>
</section>
