<section class="sec">
  <aside class="banner">
    <span class="content">WOODEN FLOORING</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Upgrade your floors with our premium selection of wooden flooring
        options. Experience the warmth and beauty of natural wood with our range
        of hardwood, engineered wood, and laminate flooring solutions. Our
        skilled installers will ensure a flawless and long-lasting installation
        that adds value and elegance to your home.
      </span>
        <img #image1 (click)="viewImage(image1.src)" src="/assets/images/floor1.jpg" alt="" />
        <img #image2 (click)="viewImage(image2.src)" src="/assets/images/floor2.jpg" alt="" />
        <img #image3 (click)="viewImage(image3.src)" src="/assets/images/floor3.jpg" alt="" />
        <img #image4 (click)="viewImage(image4.src)" src="/assets/images/floor4.jpg" alt="" />
    </span>
  </aside>
</section>
