<footer class="footer1">
  <aside class="container">
    <span class="company">
      <span class="logo">
        <img src="assets/images/logo_full.png" alt="" />
      </span>
      <span class="about">
        We are dedicated to transforming your spaces into captivating havens
        that combine style, functionality, and comfort.
      </span>
    </span>
    <span class="services">
      <span class="title">SERVICES</span>
      <ul>
        <li><a href="javascript:void(0)" [routerLink]="['services/curtains']">Curtains</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/furnishing']">Furnishing</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/outdoor-fabric']">Outdoor Fabrics</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/wooden-flooring']">Wooden Flooring</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/blinds']">Blinds</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/wallpapers']">Wallpapers</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/upholstery']">Upholstery</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services/wallpanelling']">Wallpanelling</a></li>
      </ul>
    </span>
    <span class="links">
      <span class="title">QUICK LINKS</span>
      <ul>
        <li><a href="javascript:void(0)" [routerLink]="['home']">Home</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['services']">Services</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['about-us']">About Us</a></li>
        <li><a href="javascript:void(0)" [routerLink]="['contact-us']">Contact Us</a></li>
      </ul>
    </span>
    <span class="connect">
      <span class="title">CONNECT US</span>
      <span class="contact">
        <ul class="social">
          <li>
            <a href=""><img src="assets/images/instagram.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="assets/images/facebook.png" alt="" /></a>
          </li>
        </ul>
        <span class="communications">
          <span class="num">
            <span class="material-icons icons"> call </span>
            <span class="content">
              <a href="tel:+97450634111">+974 506-341-11</a>
              <a href="tel:+97466688739">+974 666-887-39</a>
            </span>
          </span>
          <span class="email"><span class="material-icons icons"> email </span>
            <span class="content">
              <a href="mailto:info@topqqatar.com">info@topqqatar.com</a>
            </span>
          </span>
        </span>
      </span>
    </span>
  </aside>
</footer>
<footer class="footer2">
  <span class="material-icons copy"> copyright </span>
  <span class="content"> Copyright TOP Q Qatar - All Rights Reserved</span>
</footer>