<section class="sec">
  <aside class="banner">
    <span class="content">UPHOLSTERY</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Reimagine your furniture with our top-notch upholstery services. Our skilled upholsterers are adept at reviving
        worn-out pieces and breathing new life into treasured furniture items. From sofas and chairs to ottomans and
        headboards, we offer customized upholstery solutions that cater to your unique preferences and style.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents">
        <img src="assets/images/blind1.jpg" alt="" />
        <img src="assets/images/blind2.jpg" alt="" />
        <img src="assets/images/blind3.jpg" alt="" />
        <img src="assets/images/blind4.jpg" alt="" />
        <img src="assets/images/blind5.jpg" alt="" />
        <img src="assets/images/blind6.jpg" alt="" />
        <img src="assets/images/blind7.jpg" alt="" />
        <img src="assets/images/blind8.jpg" alt="" />
      </lightgallery>
    </span>
  </aside>
</section>