<section class="sec">
  <aside class="banner">
    <span class="content">CURTAINS</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Enhance the beauty of your windows with our exquisite collection of
        curtains. From elegant draperies to contemporary designs, we provide a
        wide selection of fabrics, patterns, and colors to suit your taste. Our
        experienced consultants will guide you in choosing the perfect curtains
        that offer privacy, control light, and elevate the overall ambiance of
        your space.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents" >
        <img
        src="assets/images/curtain3.jpg"
        alt=""
      />
      <img
        src="assets/images/curtain1.jpg"
        alt=""
      />
      <img
        src="assets/images/curtain2.jpg"
        alt=""
      />
      <img
        src="assets/images/curtain4.jpg"
        alt=""
      />
      </lightgallery>
    </span>
  </aside>
</section>
