.sec {
    .banner {
        background-image: url('/assets/images/curtain.jpg');
        background-color: grey;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            color: #FFF;
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
        }
    }

    .body {
        margin: 5rem 0;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95%;
            gap: 5rem;
            margin: 0 auto;

            .contents {
                font-size: 1.8rem;
                font-weight: 400;
                max-width: 80rem;
                text-align: center;

                @media only screen and (max-width:400px) {
                    width: 100%;
                }
            }


            .gallery-contents {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    width: 35rem;
                    height: 25rem;
                    cursor: zoom-in;
                    transition: all 0.3s;
                    overflow: hidden;

                    &:hover {
                        transform: scale(1.05);

                        @media only screen and (max-width: 426px) {
                            transform: none;
                        }
                    }

                    @media only screen and (max-width: 400px) {
                        width: 100%;
                    }
                }
            }

        }
    }
}