<section class="sec">
  <aside class="banner">
  </aside>
  <aside class="body">
    <span class="container">
      <span class="content">WALLPAPERS</span>
      <span class="contents">
        Transform your walls into stunning works of art with our extensive
        collection of wallpapers. Whether you desire a bold statement or a
        subtle backdrop, our range of patterns, textures, and colors will cater
        to your design preferences. Our skilled professionals will ensure
        precise installation, delivering a seamless finish that enhances the
        overall aesthetic of your space.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents">

        <img src="assets/images/wall1.jpg" alt="" />
        <img src="assets/images/wall2.jpg" alt="" />
        <img src="assets/images/wall3.jpg" alt="" />
        <img src="assets/images/wall4.jpg" alt="" />
        <img src="assets/images/wall5.jpg" alt="" />
        <img src="assets/images/wall6.jpg" alt="" />
        <img src="assets/images/wall7.jpg" alt="" />
        <img src="assets/images/wall8.jpg" alt="" />
      </lightgallery>

    </span>
  </aside>
</section>
