<section class="sec">
  <aside class="banner">
    <span class="content">OUTDOOR FABRICS</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Make your outdoor spaces come alive with our durable and
        weather-resistant outdoor fabrics. From patio furniture upholstery to
        outdoor curtains and cushions, we offer a range of fabrics that are
        specifically designed to withstand the elements while maintaining their
        visual appeal. Let us help you create an outdoor oasis that combines
        comfort, style, and durability.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents">

        <img src="assets/images/outdoor1.jpg" alt="" />
        <img src="assets/images/outdoor2.jpg" alt="" />
        <img src="assets/images/outdoor3.jpg" alt="" />
        <img src="assets/images/outdoor4.jpg" alt="" />
        <img src="assets/images/outdoor5.jpg" alt="" />
        <img src="assets/images/outdoor6.jpg" alt="" />
        <img src="assets/images/outdoor7.jpg" alt="" />
        <img src="assets/images/outdoor8.jpg" alt="" />
      </lightgallery>

    </span>
  </aside>
</section>