<section class="sec">
  <aside class="banner">
    <span class="content">OUTDOOR FABRICS</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Make your outdoor spaces come alive with our durable and
        weather-resistant outdoor fabrics. From patio furniture upholstery to
        outdoor curtains and cushions, we offer a range of fabrics that are
        specifically designed to withstand the elements while maintaining their
        visual appeal. Let us help you create an outdoor oasis that combines
        comfort, style, and durability.
      </span>
        <img #image1 (click)="viewImage(image1.src)" src="/assets/images/outdoor1.jpg" alt="" />
        <img #image2 (click)="viewImage(image2.src)" src="/assets/images/outdoor2.jpg" alt="" />
        <img #image3 (click)="viewImage(image3.src)" src="/assets/images/outdoor3.jpg" alt="" />
        <img #image4 (click)="viewImage(image4.src)" src="/assets/images/outdoor4.jpg" alt="" />
    </span>
  </aside>
</section>
