<section class="sec">
  <aside class="banner">
    <span class="content">WALL PANELLING</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Our wall paneling solutions are designed to enhance the aesthetics and functionality of your space. Whether you
        prefer fabric, wood, or leather paneling, we offer a wide range of options to suit your taste and interior
        design. Our team will work closely with you to select the perfect materials, finishes, and designs to bring your
        vision to life.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents">
        <img src="assets/images/wallpanel1.jpg" alt="" />
        <img src="assets/images/wallpanel2.jpg" alt="" />
        <img src="assets/images/wallpanel3.jpg" alt="" />
        <img src="assets/images/wallpanel4.jpg" alt="" />
        <img src="assets/images/wallpanel5.jpg" alt="" />
        <img src="assets/images/wallpanel6.jpg" alt="" />
        <img src="assets/images/wallpanel7.jpg" alt="" />
        <img src="assets/images/wallpanel8.jpg" alt="" />
      </lightgallery>
    </span>
  </aside>
</section>