<section>
  <aside class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide">
          <img src="/assets/images/slide1.jpg" alt="image" />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="/assets/images/slide2.jpg" alt="image" />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="/assets/images/slide3.jpg" alt="image" />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="/assets/images/slide4.jpg" alt="image" />
        </div>
      </ng-template>
    </owl-carousel-o>
  </aside>
  <aside class="our-services">
    <span class="serv">OUR SERVICES</span>
    <span class="types">
      <span class="card" style="background-image: url('/assets/images/curtain.jpg')">
        <span class="title">Curtains</span>
        <span class="explore"><a href="services/curtains">Explore Now</a></span>
      </span>
      <span class="card" style="background-image: url('/assets/images/furnishing.jpg')">
        <span class="title">Furnishing</span>
        <span class="explore"><a href="services/furnishing">Explore Now</a></span>
      </span>
      <span class="card" style="background-image: url('/assets/images/outdoor.jpg')">
        <span class="title">Outdoor Fabrics</span>
        <span class="explore"><a href="services/outdoor-fabric">Explore Now</a></span>
      </span>
      <span class="card" style="background-image: url('/assets/images/floor.jpg')">
        <span class="title">Wooden Flooring</span>
        <span class="explore"><a href="services/wooden-flooring">Explore Now</a></span>
      </span>
      <span class="card" style="background-image: url('/assets/images/blinds.jpg')">
        <span class="title">Blinds</span>
        <span class="explore"><a href="services/blinds">Explore Now</a></span>
      </span>
      <span class="card" style="background-image: url('/assets/images/wallpaper.jpg')">
        <span class="title">Wallpapers</span>
        <span class="explore"><a href="services/wallpapers">Explore Now</a></span>
      </span>
    </span>
  </aside>
  <aside class="why-us">
    <span class="title"> WHY CHOOSE US? </span>
    <span class="cards">
      <span class="card">
        <span class="material-icons icon"> design_services </span>
        <span class="c-title">Personalized Service</span>
        <span class="content">
          Our team of experienced designers and stylists is dedicated to providing
          personalized service to help you bring your vision to life. We offer
          expert consultations, tailored recommendations, and guidance throughout
          the selection and design process.</span>
      </span>
      <span class="card">
        <span class="material-icons icon"> thumb_up </span>
        <span class="c-title">Customer Satisfaction</span>
        <span class="content">Our customers' satisfaction is our top priority. We strive to exceed
          your expectations at every step, from the moment you interact with us to
          the final installation or delivery of your chosen products.
        </span>
      </span>
      <span class="card">
        <span class="material-icons icon"> payment </span>
        <span class="c-title">Competitive Pricing</span>
        <span class="content">While we prioritize quality, we also understand the importance of
          competitive pricing. We aim to offer our products at fair and
          competitive prices, ensuring that you receive excellent value for your
          investment.</span>
      </span>
      <span class="card">
        <span class="material-icons icon"> inventory </span>
        <span class="c-title">Quality Craftsmanship</span>
        <span class="content">
          We prioritize quality in everything we offer. Our products are sourced
          from trusted manufacturers and artisans who are renowned for their
          exceptional craftsmanship and attention to detail. Each item in our
          collection is built to last, providing you with long-lasting beauty and
          functionality.</span>
      </span>
    </span>
  </aside>
</section>