section {
  .carousel {
    .slide {
      img {
        object-fit: cover;
        width: 100vw;
        height: 90vh;
        @media only screen and (max-width: 800px) {
          height: 60vh;
        }
      }
    }
  }
  .why-us {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    background-color: #f7f7f7;
    padding: 5rem;
    .title {
      font-size: 3.3rem;
      letter-spacing: 0.1rem;
      @media only screen and (max-width: 426px) {
          font-size: 2.5rem;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        .icon {
          background-color: #8f8f8f;
          color: #fff;
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20%;
        }
        .c-title {
          font-size: 2rem;
          font-weight: 600;
        }
        .content {
          max-width: 50rem;
          font-size: 1.2rem;
        }
        &:hover {
          background-color: #fff;
          transition: transform 1.5s ease;
        }
      }
    }
  }
  .our-services {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .serv {
      font-size: 3.5rem;
      color: rgb(41, 40, 40);

    }
    .types {
      display: flex;
      justify-content: center;
      gap: 3rem;
      flex-wrap: wrap;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
        width: 40rem;
        height: 25rem;
        background-size: 100% 100%;
        background-color: grey;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        color: #fff;
        -moz-transition: all 0.6s;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        @media only screen and (max-width: 405px) {
          width: 100%;
        }
        .title {
          font-size: 2.5rem;
        }
        .explore {
          a{
            font-size: 1.6rem;
            border: 0.1rem solid #fff;
            width: 15rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-decoration: none;
          }
        }
        &.curtain{
          background-image: url('~src/assets/images/curtain.jpg');
        }
        &.furnishing{
          background-image: url('~src/assets/images/furnishing.jpg');   
            }
        &.outdoor{
          background-image: url('~src/assets/images/outdoor.jpg');    
            }
        &.floor{
          background-image: url('~src/assets/images/floor.jpg');    
            }
        &.blind{
          background-image: url('~src/assets/images/blinds.jpg');    
            }
        &.wall{
          background-image: url('~src/assets/images/wallpaper.jpg');    
            }
        &:hover {
          background-size: 130% 130%;
        }
      }

    }
  }
}
