<span class="contact-form">
    <form>
    <span class="close">
        <span class="material-icons close-btn" (click)="close()">
            close
            </span>
    </span>
      <span class="contact-title"> Connect with us </span>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <span class="btns">
        <button class="submit-btn">Submit</button>
      </span>
    </form>
  </span>