<span class="contact-form">
  <form [formGroup]="form" (ngSubmit)="sendEmail(form.value)">
    <span class="close">
      <span class="material-icons close-btn" (click)="close()"> close </span>
    </span>
    <span class="contact-title"> Connect with us </span>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name" name="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
      type="number"
        matInput
        placeholder="Phone Number"
        name="phone_num"
        formControlName="phone_num"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
      type="email"
        matInput
        placeholder="Email"
        name="email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        name="content"
        formControlName="content"
      ></textarea>
    </mat-form-field>
    <span class="btns">
      <button class="submit-btn" type="submit">Submit</button>
    </span>
  </form>
</span>
