<section class="sec-1">
  <span class="about"> About Us </span>
</section>
<section class="sec-2">
  <span class="welcome-content">
    <span class="welcome-title">
      Welcome to TOP Q QATAR - your ultimate destination for exceptional indoor
      and outdoor furnishings, as well as a wide range of decorative blinds,
      curtains, shades, and stunning wooden flooring options
    </span>
    <span class="welcome-body"
      >At Top Q, we are committed to delivering the highest standards of quality
      and customer satisfaction. We collaborate with trusted manufacturers and
      brands renowned for their craftsmanship and attention to detail. Each
      product in our collection undergoes rigorous quality checks to ensure that
      it meets our strict standards.</span
    >
  </span>
  <span class="welcome-photo">
    <span class="imgs1">
        <span class="imgg">
            <img src="/assets/images/bg2.jpg" alt="" class="img1" />
        </span>
        <span class="imgg">
            <img src="/assets/images/bg3.jpg" alt="" class="img2" />
        </span>
    </span>
    <span class="imgs2">
        <img src="/assets/images/bg4.jpg" alt="" class="img3" />
    </span>
  </span>
</section>
<section class="why-us">
  <span class="title"> Why Choose Us ? </span>
  <span class="cards">
    <span class="card">
      <span class="material-icons icon"> design_services </span>
      <span class="c-title">Personalized Service</span>
      <span class="content">
        Our team of experienced designers and stylists is dedicated to providing
        personalized service to help you bring your vision to life. We offer
        expert consultations, tailored recommendations, and guidance throughout
        the selection and design process.</span
      >
    </span>
    <span class="card">
      <span class="material-icons icon"> thumb_up </span>
      <span class="c-title">Customer Satisfaction</span>
      <span class="content"
        >Our customers' satisfaction is our top priority. We strive to exceed
        your expectations at every step, from the moment you interact with us to
        the final installation or delivery of your chosen products.
      </span>
    </span>
    <span class="card">
      <span class="material-icons icon"> payment </span>
      <span class="c-title">Competitive Pricing</span>
      <span class="content"
        >While we prioritize quality, we also understand the importance of
        competitive pricing. We aim to offer our products at fair and
        competitive prices, ensuring that you receive excellent value for your
        investment.</span
      >
    </span>
    <span class="card">
      <span class="material-icons icon"> inventory </span>
      <span class="c-title">Quality Craftsmanship</span>
      <span class="content">
        We prioritize quality in everything we offer. Our products are sourced
        from trusted manufacturers and artisans who are renowned for their
        exceptional craftsmanship and attention to detail. Each item in our
        collection is built to last, providing you with long-lasting beauty and
        functionality.</span
      >
    </span>
  </span>
</section>
