<section class="sec-1">
    <aside class="welcome-note">
        <span class="welcome-title">Welcome to TOP Q QATAR</span>
        <span class="welcome-body">At TOP Q, we are passionate about creating spaces that truly inspire and reflect your
            unique style. As a
            leading provider of high-quality furnishing solutions, we have been transforming houses into homes for 5
            years.</span>
    </aside>
</section>
<section class="card-sec">
    <span class="cards-tit">WHY CHOOSE OUR SERVICE</span>
    <aside class="cards">
        <span class="card">
            <img src="/assets/images/bg4.jpg" alt="">
            <span class="card-contents">
                <span class="title">
                    Our Commitment:
                </span>
                <span class="body">
                    At the core of our company values is a commitment to exceptional craftsmanship, innovative design,
                    and outstanding customer service. We understand that your home is a reflection of your personality
                    and aspirations, and we strive to deliver products that meet your highest expectations.
                </span>
            </span>
        </span>
        <span class="card">
            <span class="card-contents">
                <span class="title">
                    Quality and Durability:
                </span>
                <span class="body">
                    We take great pride in offering furnishings that are not only aesthetically pleasing but also built
                    to last. We carefully select materials and work with skilled artisans to ensure that every piece we
                    offer is of the highest quality. From sturdy hardwood frames to resilient upholstery fabrics, our
                    products are designed to withstand the test of time.
                </span>
            </span>
            <img src="/assets/images/bg5.jpg" alt="">
        </span>
        <span class="card">
            <img src="/assets/images/bg6.jpg" alt="">
            <span class="card-contents">
                <span class="title">
                    Extensive Product Range:
                </span>
                <span class="body">
                    Whether you are furnishing a living room, bedroom, dining area, or home office, we have an extensive range of furniture and accessories to suit every space and taste. From classic and timeless designs to contemporary and cutting-edge styles, we curate our collection to cater to a diverse range of preferences.
                </span>
            </span>
        </span>
        <span class="card">
            <span class="card-contents">
                <span class="title">
                    Customization Options:
                </span>
                <span class="body">
                    We understand that every customer has unique requirements and preferences when it comes to furnishing their space. That's why we offer customizable options, allowing you to personalize your furniture to your exact specifications. Choose from a wide range of finishes, fabrics, colors, and sizes to create a piece that perfectly complements your home.
                </span>
            </span>
            <img src="/assets/images/bg7.jpg" alt="">
        </span>
        <span class="card">
            <img src="/assets/images/bg8.jpg" alt="">
            <span class="card-contents">
                <span class="title">
                    Expert Design Assistance:
                </span>
                <span class="body">
                    Creating a cohesive and harmonious look for your space can be overwhelming. Our team of experienced interior designers is here to help you every step of the way. Whether you need guidance in selecting the right pieces or want assistance in designing an entire room, our experts will work closely with you to bring your vision to life.
                </span>
            </span>
        </span>
        <span class="card">
            <span class="card-contents">
                <span class="title">
                    Delivery and Assembly:
                </span>
                <span class="body">
                    We believe that the furnishing process should be as seamless as possible. That's why we offer efficient and reliable delivery services, ensuring that your furniture arrives safely and on time. Additionally, our professional assembly team can take care of setting up your new pieces, so you can enjoy your beautifully furnished space without any hassle.
                </span>
            </span>
            <img src="/assets/images/bg9.jpg" alt="">
        </span>
        <span class="card">
            <img src="/assets/images/bg10.jpg" alt="">
            <span class="card-contents">
                <span class="title">
                    Customer Satisfaction:
                </span>
                <span class="body">
                    Customer satisfaction is our top priority, and we go above and beyond to ensure that every interaction with our company is a positive one. From the moment you browse our website to the after-sales support, our dedicated customer service team is here to address any questions or concerns you may have.
                </span>
            </span>
        </span>
    </aside>
</section>