<section>
  <aside class="services">
    <span class="service"> Our Services </span>
  </aside>
  <aside class="our-services">
    <span class="service-content">
      At TOP Q, we take pride in offering a wide range of high-quality
      services that cater to your home decor and interior design needs. With our
      expertise and dedication, we strive to create spaces that are functional,
      aesthetically pleasing, and reflective of your unique style. Our team of
      skilled professionals is committed to delivering exceptional service and
      ensuring your satisfaction.
    </span>
    <span class="types">
      <span
        class="card"
        style="background: url('~src/assets/images/curtain.jpg')">
        <span class="title">Curtains</span>
        <span class="explore"><a href="services/curtains">Explore Now</a></span>
      </span>
      <span
        class="card"
        style="background: url('~src/assets/images/furnishing.jpg')"
      >
        <span class="title">Furnishing</span>
        <span class="explore"
          ><a href="services/furnishing">Explore Now</a></span
        >
      </span>
      <span
        class="card"
        style="background: url('~src/assets/images/outdoor.jpg')"
      >
        <span class="title">Outdoor Fabrics</span>
        <span class="explore"
          ><a href="services/outdoor-fabric">Explore Now</a></span
        >
      </span>
      <span
        class="card"
        style="background: url('~src/assets/images/floor.jpg')"
      >
        <span class="title">Wooden Flooring</span>
        <span class="explore"
          ><a href="services/wooden-flooring">Explore Now</a></span
        >
      </span>
      <span
        class="card"
        style="background: url('~src/assets/images/blinds.jpg')"
      >
        <span class="title">Blinds</span>
        <span class="explore"><a href="services/blinds">Explore Now</a></span>
      </span>
      <span
        class="card"
        style="background: url('~src/assets/images/wallpaper.jpg')"
      >
        <span class="title">Wallpapers</span>
        <span class="explore"
          ><a href="services/wallpapers">Explore Now</a></span
        >
      </span>
    </span>
  </aside>
</section>
