<section>
    <aside class="services">
        <span class="service">
            Our Services
        </span>
    </aside>
    <aside class="our-services">
        <span class="types">
          <span class="card" style="background-image:url(/assets/images/curtain.jpg);">
            <span class="title">Curtains</span>
            <span class="explore">Explore Now</span>
          </span>
          <span class="card" style="background-image:url(/assets/images/furnishing.jpg);">
            <span class="title">Furnishing</span>
            <span class="explore">Explore Now</span>
          </span>
          <span class="card" style="background-image:url(/assets/images/outdoor.jpg);">
            <span class="title">Outdoor Fabrics</span>
            <span class="explore">Explore Now</span>
          </span>
          <span class="card" style="background-image:url(/assets/images/floor.jpg);">
            <span class="title">Wooden Flooring</span>
            <span class="explore">Explore Now</span>
          </span>
          <span class="card" style="background-image:url(/assets/images/blinds.jpg);">
            <span class="title">Blinds</span>
            <span class="explore">Explore Now</span>
          </span>
          <span class="card" style="background-image:url(/assets/images/wallpaper.jpg);">
            <span class="title">Wallpapers</span>
            <span class="explore">Explore Now</span>
          </span>
        </span>
      </aside>
</section>