<section class="sec">
  <aside class="banner">
  </aside>
  <aside class="body">
    <span class="container">
      <span class="content">FURNISHING</span>
      <span class="contents">
        Transform your place into a haven of comfort and style with our premium
        furnishing solutions. Whether you're in need of stylish sofas, cozy
        chairs, elegant tables, or decorative accessories, our extensive range
        of furnishings will help you create a personalized and inviting
        atmosphere. Our team will assist you in selecting the right pieces that
        harmonize with your existing decor and meet your functional
        requirements.
      </span>
      <lightgallery [settings]="settings" class="gallery-contents">
        <img src="assets/images/furn1.jpg" alt="" />
        <img src="assets/images/furn2.jpg" alt="" />
        <img src="assets/images/furn3.jpg" alt="" />
        <img src="assets/images/furn4.jpg" alt="" />
        <img src="assets/images/furn5.jpg" alt="" />
        <img src="assets/images/furn6.jpg" alt="" />
        <img src="assets/images/furn7.jpg" alt="" />
        <img src="assets/images/furn8.jpg" alt="" />
      </lightgallery>
    </span>
  </aside>
</section>
