<section class="sec">
  <aside class="banner">
    <span class="content">BLINDS</span>
  </aside>
  <aside class="body">
    <span class="container">
      <span class="contents">
        Achieve the perfect balance of privacy, light control, and style with
        our exquisite blinds. Choose from a variety of materials, including
        wood, metal, and fabric, and explore different styles such as Venetian,
        vertical, or roller blinds. Our experts will assist you in selecting the
        right blinds that enhance your windows and create a comfortable
        environment.
      </span>
        <img #image1 (click)="viewImage(image1.src)" src="/assets/images/blind1.jpg" alt="" />
        <img #image2 (click)="viewImage(image2.src)" src="/assets/images/blind2.jpg" alt="" />
        <img #image3 (click)="viewImage(image3.src)" src="/assets/images/blind3.jpg" alt="" />
        <img #image4 (click)="viewImage(image4.src)" src="/assets/images/blind4.jpg" alt="" />
    </span>
  </aside>
</section>
